/* FOR IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Lobster+Two:400,400i');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

/* UNIVERSALS */

body {
	font-size: 62.5%;
	font-family: Helvetica, sans-serif;
	background: url(../img/luigis_main_bg.jpg) repeat;
}

/* Gets rid of underline on links */
a {
  text-decoration: none;
}

a:hover,
.a:hover {
   text-decoration: none !important;
}

h1 {
  /* FOR 'Contact Us' */
  text-align: center;
  font-size: 28pt;
  font-family: 'Bad Script', 'Lobster Two', cursive;
  font-weight: normal;
  color: #335752;
}

h2 {
  font-family: 'Bad Script', 'Lobster Two', cursive; /* FOR LUIGI'S (UPPER LEFT) */
  font-weight: normal;
  color: #335752;
  font-size: 18pt;
  margin-top: -5px; /* for height */
}

h3 {
  text-align: center;
  font-family: "verdana"; /* FOR 'All fields marked * are mandatory' */
  font-weight: normal;
  color: #335752;
  font-size: 10pt;
  margin-top: 45px; /* for height */
}

#luigis-form {
	margin-top: 45px;
  margin-left: -55px;
}

#button {
  margin-left: 477px;
}

#contact-background {
	width: 660px;
	background: #ceece0;
	padding: 20px 50px 20px 50px;
	margin: 20px 340px;
	min-height: 500px;
	/*height: auto !important;*/
	height: 500px;
  margin-top: 45px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 12px;
  font-weight: normal;
  font-family: "verdana";
  /*font-family: 'Bad Script', 'Lobster Two', cursive;*/
}

/* FOR POP-UP ON BUTTON CLICK */

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 270px;
  background-color: #335752;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -133px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* FOR BUTTON */
.button {
  border: none;
  color: #ffffff;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: verdana;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.2s; /* for 0.2 second transition on color change of button */
  cursor: pointer;
}

.button1 {
  background-color: #8bbaba;
  color: #000000;
}

.button1:hover {
  background-color: #335752;
  color: #ffffff;
}
